.card{
    border: none;
    font-family: 'Poppins';
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.card-title{
    color: #002F35;
    font-family:'Playfair' ;
    font-size: 25px;
}
