.card{
    border: none;
    border: 1px solid rgb(243, 243, 243);
}
.card-title{
    color: #002F35;
    font-family: Poppins;
}
.card-text{
    font-size: 15px;
}
.btn{
    color: white;    
    background: linear-gradient(102.3deg, #002F35 -4.62%, #002F35 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
    border:2px solid #002F35;
    font-weight: 500;
}
.btn:hover{
    background: white ;    
    color: #002F35 !important;
    border: 2px solid #002F35;

}
.deliver-btn{
    background: #363062;
    color: aliceblue;
    border: 2px solid #363062;
    font-weight: 500;
}
.deliver-btn:hover{
    background:aliceblue ;
    color:  #363062;
    border: 2px solid #363062;
}
.myitems-link{
    color: #363062;
    text-decoration: none;
    border: 2px solid #363062;
    font-weight: 500;
    
}
.myitems-link:hover{
    color: #647b64;
    text-decoration: none;
    border: 2px solid #647b64;
    
}
.table-title{
    color: #002F35;
}
thead{
    background-color: #002F35;
    color: #F8FCFB;
    font-family: 'Poppins';
}
.table-text{
    font-family: 'Poppins';
}
.deleteBtn{
    border: none;
    background-color:white;
    cursor: pointer;
}